@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    margin: 0;
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.25rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
    color: initial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-moz-selection {
    /* Code for Firefox */
    color: red;
    background: #ffffcf;
}

 ::selection {
    color: red;
    background: #ffffcf;
}

:root {
    --blue-text-clr: hsla(200, 100%, 50%, 0.8);
    --hover-clr: pink;
}


/* default end  */

.cryption-wrapper {
    color: #ffffffa3;
}

.generation__info {
    color: #00f;
}

span.emergency__class {
    cursor: pointer;
    margin-left: 0.5rem;
}


/* css for navbar  */

.navbar * {
    color: var(--blue-text-clr);
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    padding-left: 1rem;
}

.navbar ul.hide {
    display: none;
}

.sub-nav-group--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.angular-icon {
    font-weight: bolder;
    font-size: 1.25em;
    transform: rotateZ(90deg);
    transition: transform linear 250ms;
    cursor: pointer;
    padding: 2px;
}

.angular-icon.rotate {
    transform: none;
}

.sub-nav-group--nav-items {
    transform: none;
    transition: transform linear 250ms;
    transform: scaleY(1)
}

.sub-nav-group--nav-items.hide {
    /* display: none; */
    transform: scaleY(0)
}

.navbar a:hover {
    color: var(--hover-clr);
}

.navbar .b1 {
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 700px;
}

.navbar .b2 {
    border-bottom: 0.5px solid hsla(0, 100%, 0%, 0.15);
}